body { 
    background: url(cream_dust.png) repeat 0 0;
    font-family: "Times New Roman", Times, serif;
}

h1{
	text-align: center;
}

h5 {
	text-align: center;
}

h3{
	font-weight: bold;
}

p.where{
	font-weight: bold;
	display:inline-block;
	text-align: left;
}

p.when{
	display:inline-block;
	text-align: right;
}
img {
	display: block;
	margin: auto;
	width: 40%;
	border-radius: 8px;
	height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}

a.resume:link, a.resume:visited {
    background-color: #89cff0;
    color: white;
    padding: 14px 25px;
    float:left;
    margin-right:5px; 
    text-decoration: none;
    display: inline-block;
}
a.resume:hover {
	text-align: : center;
    text-decoration: underline;
}


a.bio:link, a.bio:visited {
    background-color: #89cff0;
    color: white;
    padding: 14px 25px;
    float:right;
    margin-right:5px; 
    text-decoration: none;
    display: inline-block;
}

a.bio:hover {
	text-align: : center;
    text-decoration: underline;
}
